.book-card img {
  height: 195px;
  width: 128px;
  margin: 0 auto;
  display: block;
}

.book-card {
  margin-top: 20px;
}

.book-title,
.book-author {
  text-align: center;
}

.add-btn {
  margin-top: 20px;
}
