ion-img {
  height: 98px;
  width: 64px;
  margin: 10px;
}

ion-buttons {
  height: 24px !important;
  width: 24px !important;

  ion-icon {
    height: 24px !important;
    width: 24px !important;
  }
}

ion-segment {
  margin: 20px 0px;
}
