<ion-header>
  <ion-toolbar>
    <ion-title>
      Books
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="settings" (click)="navigateToSettings()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    color="light"
    (ionFocus)="navigateToSearch()"
    placeholder="Search for a book"
  ></ion-searchbar>

  <ion-segment (ionChange)="segmentChanged($event)" value="most">
    <ion-segment-button value="most">
      <ion-label>Most recommended</ion-label>
    </ion-segment-button>
    <ion-segment-button value="newest">
      <ion-label>Newest</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item
      lines="none"
      *ngFor="let book of books"
      (click)="navigateToDetail(book)"
      detail="true"
    >
      <ion-img [src]="book?.thumbnailUrl" slot="start"></ion-img>

      <ion-label>
        <ion-label>
          <h3>{{ book.title }}</h3>
          <p>{{ book.authors }}</p>
        </ion-label>
        <p *ngIf="book?.recommendationCount; else noRecommendations">
          Recommended {{ book.recommendationCount }} time(s)
        </p>
        <ng-template #noRecommendations><p>No recommendations</p></ng-template>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
