<ion-header>
  <ion-toolbar>
    <ion-title>Recommendr</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form *ngIf="form" [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email" required></ion-input>
    </ion-item>

    <ion-text
      class="error"
      color="danger"
      *ngIf="
        form.get('email').invalid &&
        form.get('email').hasError('required') &&
        form.get('email').touched
      "
      >Email is required</ion-text
    >

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-text
      class="error"
      color="danger"
      *ngIf="
        form.get('password').invalid &&
        form.get('password').hasError('required') &&
        form.get('password').touched
      "
      >Password is required</ion-text
    >

    <a class="forgot-password-link" (click)="forgotPassword()"
      >Forgot password?</a
    >

    <ion-button
      class="margin-top-40"
      color="primary"
      mode="md"
      style="text-transform: none;"
      expand="block"
      fill="outline"
      (click)="login()"
      >Login</ion-button
    >
  </form>
  <div class="create-account-msg">
    <ion-text>New user? </ion-text
    ><a href="register" routerDirection="roopt">Create an account</a>
  </div>
</ion-content>
