ion-img {
  height: 193px;
  width: 128px;
  margin: 0 auto;
}

ion-card-header {
  text-align: center;
}

.book-detail-wrapper {
  margin-top: 20px;
}

ion-buttons {
  height: 24px !important;
  width: 24px !important;

  ion-icon {
    height: 24px !important;
    width: 24px !important;
  }
}

.item {
  min-height: 63px !important;
}

ion-label {
  min-height: 43px;
}
