<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref></ion-back-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    #autofocus
    placeholder="Search for a book"
    color="light"
    (change)="onSearch($event)"
    (keyup.enter)="closeKeyboard()"
    (ionClear)="clearSearch()"
  ></ion-searchbar>

  <ion-list *ngIf="searchResults">
    <ion-item
      *ngFor="let book of searchResults"
      (click)="openBookPreview(book.id)"
    >
      <img
        slot="start"
        [src]="book?.volumeInfo?.imageLinks?.smallThumbnail"
        class="book-thumbnail"
      />

      <ion-label>
        <h3>{{ book.volumeInfo.title }}</h3>
        <p>{{ book.volumeInfo.authors[0] }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
